<h1>  All Tea Blends </h1>


<% @teas.each do |tea| %>

<h3>  <%= tea.brand.name %> - <%= link_to tea.flavor.capitalize, tea_path(tea.id)%> </h3>
<% link_to "Write a review", new_tea_review_path(tea.id)%>

<div>
 <p>  Description: <%= tea.description %></p>
</div>

<% end %>
