<h1> All Tea Blends </h1>


<% @teas.each do |tea| %>

<h2><%= tea.brand.name %> - <%= link_to tea.flavor, tea_path(tea.id)%>  </h2>
<% link_to "Write a review", new_tea_review_path(tea.id)%>

<div>
    <p>Desription: <%= tea.description %>
    <br>
       Added By: <%= tea.user.email%>   
    </p>

</div>

<% end %>
