<div class="container center-align">
 <h1> Welcome to Tea Time </h1>
 <img class="responsive-img" src="https://media1.tenor.com/images/ad657a8894e3b4465f25edc06c87838e/tenor.gif?itemid=14346803">
</div>